.geocodefield-input .position-wrapper {
    font-size: 0;
    overflow: hidden;
    max-width: 512px;
}

.geocodefield-input .position-wrapper .part {
    display: inline-block;
    width: 33%;
    font-size: 1rem;
}

.geocodefield-input .position-wrapper .part button {
    width: 100%;
    height: 30px;
    margin: 0 2px;
}